* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	color: #e5e5e5;
	background-color: black;
}
Ul,li {
	list-style: none;
}
/* HEADER TOP */
.header-top {
	background-color: #dedede;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 1px solid #82878b;
	position: relative;
}
.header-top__title {
	color: #353125;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	line-height: 25px;
}
.circle {
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: #f15b4c;
	top: 50%;
	left: 2%;
	transform: translatey(-50%);
	border-radius: 50%;
}
.circle::before {
	content:"";
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: #f7c32f;
	transform: translatex(-150%);
	border-radius: 50%;

}
.circle::after {
	content:"";
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: #29c84a;
	transform: translatex(150%);
	border-radius: 50%;

}
/* UTILITY */
.pg-9 {
	padding: 9px;
}
.pg-5 {
	padding: 5px;
}
.pgx-5 {
	padding: 5px 0px;
}
.mgt-50 {
	margin-top: 50px;
}
.mgr-26 {
	margin-right: 26px;
}
.mgl-5 {
	margin-left: 8px;
}
.container {
	max-width: 1145px;
	margin: 0 auto;
}
.ds-blk {
	display: block;
}
.fsz-25 {
	font-size: 25px;
}
/* HEADER bottom */
.header-bootom {
	text-align: end;
}
.header-bootom__btn {
	padding: 8px 6px;
	border: none;
	color: #Fff;
	background: linear-gradient(180deg, rgb(77, 76, 76) 0%, rgb(39, 39, 39) 100%);
	border-radius: 4px;
}
.header-bootom__btn:hover {
	background: linear-gradient(180deg, rgb(117, 117, 117) 0%, rgb(63, 63, 63) 100%);
	
}
/* MAIN BLOCK  */
.block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.block__mic::after {
	content: "";
	display: block;
	width: 2px;
	height: 20px;
	background-color: red;
	position: absolute;
	top: 40%;
	left: 3%;
	transform: rotate(45deg) translatey(-50%);
	
}
.block__inner:hover .block__mic:after {
	content:"";
	background-color: transparent;
}
.block__inner {
	max-height: 125px;
	max-width: 225px;
	position: relative;
	overflow: hidden;
	border: 5px solid transparent;
}
.block__inner:hover {
	border: 5px solid greenyellow
}
.block__img {
	object-fit: cover;
	width: 100%;

}
sup{
	position: absolute;
	transform: translatey(-5px);
}
.block__name {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);

}
/* FOOTER */
.footer{ 
	background: linear-gradient(180deg, rgb(36, 35, 35) 0%, rgb(27, 27, 27) 100%);
	display: flex;
	justify-content: space-between;

}
.footer__items {
	display: flex;
	align-items: center;
}
.footer__items:hover .footer__mute{
	background-color: rgba(128, 128, 128, 0.247);
	
}
.footer__mute {
	text-align: center;
   padding: 4px;
   border-radius: 10px;
	transition: linear 0.1s;
}
.footer__mute--active {
   color:green ;
}
.footer-arow {
   padding: 17px 6px;
   position: relative;
}
.footer-arow:hover{
   background-color: rgba(87, 87, 87, 0.247) ;
   border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   
}
.footer-arow:hover .window{
   display: block;
   z-index: 20;
}

.window {
   position: absolute;  
   top: -50px;
   background-color: rgb(255, 255, 255);
   display: none;
}
.footer__left,
.footer__right,
.footer__center {
	display: flex;
}
.fotter__button {
	border: 0;
	background-color: #4a4b4d;
	color: #f55845;
}
.fotter__button:hover{
	background-color: #5d5e5f;
	color: #f1503e;
}